.mainContent {
  flex: 1;
  position: relative;
  padding: 24px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    flex: none;
  }
}
.MuiPaper-root .MuiPaper-root {
  box-shadow: none;
}
